*{margin:0; padding:0;}
.clearfix:after{ height:0; display:block; content:'.'; visibility:hidden; clear:both;}
ul,li,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,form,label{display:block;}
ul{list-style:none;}
img{border:0;}
.ellipsis{white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden; }
a:link{text-decoration:none; outline:none;}
a:visited{color:#ccc;}
a:hover{color:red;}
a:active{color:#f90;}
body{font-family:"宋体"; font-size:14px;}