body{background:url(../img/logo_bg.jpg) no-repeat center center; background-size:100% 100%; height:900px; padding-top: 0;}
.logo{width:396px; height:476px; background:#F4F7FB; border-radius:8px; position:absolute; margin-top:150px; left:58%;}
@media screen and (max-width:992px){
	.logo{left:48%;}
}
.logo p{font-size:12px; margin-top:50px;}
input{height:38px; line-height:38px; padding-left:12px; font-size:18px; color:#000; font-weight:bold; border:1px solid #CCCCCC; margin-bottom:25px; border-radius:3px; background:transparent;}
.inp_group{width:80%; margin:60px auto 0 auto;}
.inp_group>input[type="text"]{width:100%;}
.inp_group>a{width:100%; height:40px; padding-top:8px; background:#9ED04D; font-size:18px; color:#fff;}
.inp_group>a:hover{background:#76BF48; color:#fff;}
.yzm{width:54%; height:37px;}
.yzm a{width:100%; height:100%; padding-top:9px; border:0; border-radius:0;}
.logo .check input[type="text"]{width:42%;}
input::-webkit-input-placeholder {
　　background:none; font-size:16px; color:#887575; font-weight:bold;
}
input:-moz-placeholder {
　　font-size:14px; color:#BBBBBB;
}
input::-moz-placeholder {
　　font-size:14px; color:#BBBBBB;
}
input:-ms-input-placeholder {
　　font-size:14px; color:#BBBBBB;
}
@media screen and (max-width:768px) {
	.logo{width:90%; margin-left:-45%; left:50%;}
}
